Com base no arquivo dos campeões de formula 1 faça:

a) Incluir todos os registros em um base de dados.

b) Gerar um arquivo .xlsx com pandas com Nome do Piloto, equipe, Ano do titulo.formula1-1.txt

In [ ]:
import mysql.connector
import pandas as pd

host='localhost'
user='root'
password='password'
db = 'f1'
table = 'champ'
ddl = 'ano_do_titulo int, pais varchar(50), nome_do_piloto varchar(100), equipe varchar(100)'
sql = f'insert into {table} (ano_do_titulo, pais, nome_do_piloto, equipe) values (%s, %s, %s, %s)'

In [ ]:
mydb = mysql.connector.connect(
    host=host,
    user=user,
    password=password
)

mycursor = mydb.cursor()

mycursor.execute(f'create database {db}')

In [ ]:
mydb = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=db
)

mycursor = mydb.cursor()

In [ ]:
mycursor.execute(f'drop database {db}')

In [ ]:
mycursor.execute(f'create table {table} ({ddl})')

In [ ]:
mycursor.execute(f'drop table {table}')

In [ ]:
mycursor.execute('show tables')

for tables in mycursor:
    print(tables)

In [ ]:
mycursor.execute(f'select * from {table}')

print(mycursor.fetchall())

In [ ]:
mycursor.close()

In [ ]:
with open('..\\Arquivos\\formula1-1.txt', encoding='UTF-8') as txt:
    readlines = txt.readlines()
    for line in readlines:
        line = line.split(';')
        line = tuple(map(lambda x: x.strip(), line))
        mycursor.execute(sql, line)
        mydb.commit()

In [ ]:
mycursor.execute(f'select * from {table}')

xlsx = pd.DataFrame(mycursor.fetchall(), columns=['ano_do_titulo', 'pais', 'nome_do_piloto', 'equipe'])

print(xlsx)

xlsx[['nome_do_piloto', 'equipe', 'ano_do_titulo']].to_excel('campeao.xlsx', index=0)